.toolbar-button {
  width: 75px;
  height: 75px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
}

.color-palette-color-none,
.color-palette-add {
  font-size: 40px;
}

.color-palette-color-none {
  color: #CCCCCC;
}
