@import 'colors.scss';

header {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: $black;
  color: $white;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

.main-heading {
  margin: 0;
  flex: 1;
}

.main-nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.main-nav-list-item {
  margin: 0 6px;
}

.main-nav-list-item:first-child {
  margin-left: 0;
}

.main-nav-list-item:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .main-nav-settings-button {
    display: none;
  }
}
