@import 'colors.scss';
$buttonSize: 75px;

.toolbar-button {
  display: flex;
  width: $buttonSize;
  height: $buttonSize;
  background-color: transparent;
  border: 1px solid $gray;
  align-items: center;
  justify-content: center;
}

.toolbar-button[aria-pressed="true"] {
  border: 4px solid $black;
  outline: none;
}

.toolbar-button svg {
  flex: 1;
  font-size: 30px;
}

.toolbar-copy-paste {
    display: flex;
}

.toolbar-copy-button, .toolbar-paste-button {
    width: $buttonSize / 2;
    height: $buttonSize / 2;

    svg {
        font-size: 20px;
    }
}
