.toolbar-button {
  display: flex;
  width: 75px;
  height: 75px;
  background-color: transparent;
  border: 1px solid #cccccc;
  align-items: center;
  justify-content: center;
}

.toolbar-button:active, .toolbar-button:focus-visible {
  outline: none;
}

.toolbar-button[aria-pressed="true"] {
  border: 4px solid black;
  outline: none;
}

.toolbar-button svg {
  flex: 1;
  font-size: 30px;
}
